.shopPage {
  display: flex;
  height: 100vh;
  //height: 100%;
  flex-direction: column;
  //overflow: hidden;
}

.content {
  background: #42b983;
  width: 100%;
  flex: 1;
  color: black;
  //overflow: auto;
  //overflow-y: scroll;
  overflow-y: auto;
}

.goods {
  height: 100px;
  width: 80%;
  background: coral;
  margin: 20px auto;
  font-size: 20px;
  line-height: 100px;
}

.header {
  background-color: pink;
  line-height: 50px;
  //color: rgb(251, 252, 253);
  font-size: 20px;
}

.footer {
  background-color: pink;
  line-height: 50px;
  //color: rgb(251, 252, 253);
  font-size: 20px;
}

